<section class="section-60 section-lg-100">
    <div class="container">
      <div class="row row-40 align-items-sm-end">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="thumbnail-variant-2-wrap">
            <div class="thumbnail thumbnail-variant-2"  *ngFor="let l of Lawers">
              <figure class="thumbnail-image"><img src="assets/images/team-9-246x300.jpg" alt="" width="246" height="300"/>
              </figure>
              <div class="thumbnail-inner">
                <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span><a class="link-white" href="tel:#">{{l.telf}}</a></div>
                <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span><a class="link-white" href="mailto:#">{{l.email}}</a></div>
              </div>
              <div class="thumbnail-caption">
                <p class="text-header"><a href="#">{{l.nom}}</a></p>
                <div class="divider divider-md bg-teak"></div>
                <p class="text-caption">{{l.prenom}}</p>
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-sm-6 col-md-12 col-lg-3 text-center ">
          <div class="block-wrap-1">
            <div class="block-number">06</div>
            <h3 class="text-normal">Experts</h3>
            <p class="h5 h5-smaller text-style-4">in Their Fields</p>
            <p>If you or your business is facing a legal challenge, contact us today to arrange a free initial consultation with an attorney.</p><a class="link link-group link-group-animated link-bold link-secondary" href="#"><span>Read more</span><span class="novi-icon icon icon-xxs icon-primary fa fa-angle-right"></span></a>
          </div>
        </div>
      </div>
    </div>
  </section>