<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
 
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button><a class="rd-navbar-brand brand" href="index.html"><img src="assets/images/logo-default-143x27.png" alt="" width="143" height="27"/></a>

     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="typography">Typography</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="contact">Contacts</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="lawyerList">Lawyers</a>
          </li>
          
        </ul>
        <div class="rd-navbar-btn-wrap" *ngIf="!isConnected()"><a class="button button-smaller button-primary-outline" href="/signin">Sign In</a></div>
        <div class="rd-navbar-btn-wrap" *ngIf="!isConnected()"><a class="button button-smaller button-primary-outline" href="/signup">Sign Up</a></div>
     


        <div class="rd-navbar-btn-wrap"  *ngIf="isConnected()"><a class="button button-smaller button-primary-outline" href="#">Appointment</a></div>
        <div class="rd-navbar-btn-wrap" *ngIf="isConnected()"><a class="button button-smaller button-primary-outline" href="profile" >{{fullName}} {{userName}}</a></div>


        <div class="rd-navbar-btn-wrap" *ngIf="isConnected()" (click)="logut()"><a class="button button-smaller button-primary-outline" >Logout</a></div>

      </div>
    </div>
  </nav>
    
     