<footer class="page-foot bg-ebony-clay">
    <div class="section-40 section-md-75">
      <div class="container">
        <div class="row justify-content-sm-center">
          <div class="col-sm-9 col-md-11 col-xl-12">
            <div class="row row-50">
              <div class="col-md-6 col-lg-10 col-xl-3">
                <div class="inset-xl-right-20" style="max-width: 510px;"><a class="brand" href="index.html"><img src="assets/images/logo-inverse-143x28.png" alt="" width="143" height="28"/></a>
                  <p>
                    If you or your business is facing a legal
                    challenge that calls for sound advice and skilled representation, contact us today to arrange a free  consultation with an attorney.
                  </p><a class="link link-group link-group-animated link-bold link-white" href="#"><span>Free Consultation</span><span class="novi-icon icon icon-xxs icon-primary fa fa-angle-right"></span></a>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <p class="h7">Recent Posts</p>
                      <article class="post post-preview post-preview-inverse"><a href="#">
                          <div class="unit unit-horizontal unit-spacing-lg">
                            <div class="unit-left">
                              <figure class="post-image"><img src="assets/images/post-preview-4-70x70.jpg" alt="" width="70" height="70"/>
                              </figure>
                            </div>
                            <div class="unit-body">
                              <div class="post-header">
                                <p>Help Us Make the Law Accessible for Everyone</p>
                              </div>
                              <div class="post-meta">
                                <ul class="list-meta">
                                  <li>
                                    <time datetime="2019-06-23">June 23, 2019 </time>
                                  </li>
                                  <li>3 Comments</li>
                                </ul>
                              </div>
                            </div>
                          </div></a></article>
                      <article class="post post-preview post-preview-inverse"><a href="#">
                          <div class="unit unit-horizontal unit-spacing-lg">
                            <div class="unit-left">
                              <figure class="post-image"><img src="assets/images/post-preview-5-70x70.jpg" alt="" width="70" height="70"/>
                              </figure>
                            </div>
                            <div class="unit-body">
                              <div class="post-header">
                                <p>Legal Documents Every Landlord Needs </p>
                              </div>
                              <div class="post-meta">
                                <ul class="list-meta">
                                  <li>
                                    <time datetime="2019-06-23">June 20, 2019</time>
                                  </li>
                                  <li>3 Comments</li>
                                </ul>
                              </div>
                            </div>
                          </div></a></article>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <p class="h7">Quick links</p>
                <div class="row" style="max-width: 270px;">
                  <div class="col-6">
                    <ul class="list-marked-variant-2">
                      <li><a href="index.html">Home</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Careers</a></li>
                      <li><a href="#">Blog</a></li>
                    </ul>
                  </div>
                  <div class="col-6">
                    <ul class="list-marked-variant-2">
                      <li><a href="about-us.html">About us</a></li>
                      <li><a href="contact-us.html">Contacts</a></li>
                      <li><a href="#">Appointment</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <p class="h7">Contact us</p>
                <address class="contact-info text-left">
                  <div class="unit unit-horizontal unit-spacing-md align-items-center">
                    <div class="unit-left"><span class="novi-icon icon icon-xs icon-storm-gray material-icons-phone"></span></div>
                    <div class="unit-body"><a class="link-white" href="tel:#">+123 234 984 47 45</a></div>
                  </div>
                  <div class="unit unit-horizontal unit-spacing-md align-items-center">
                    <div class="unit-left"><span class="novi-icon icon icon-xs icon-storm-gray fa fa-envelope-o"></span></div>
                    <div class="unit-body"><a class="link-white" href="mailto:#">info@demolink.org</a></div>
                  </div>
                  <div class="unit unit-horizontal unit-spacing-md">
                    <div class="unit-left"><span class="novi-icon icon icon-xs icon-storm-gray material-icons-place"></span></div>
                    <div class="unit-body"><a class="link-white d-inline" href="#">6036 Richmond hwy,<br>Alexandria, VA USA 22303</a></div>
                  </div>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <hr>
    </div>
    
  </footer>

