
<section>
    <div class="swiper-container swiper-slider swiper-variant-1 bg-black" data-loop="false" data-autoplay="5500" data-simulate-touch="true">
      <div class="swiper-wrapper text-center">
        <div class="swiper-slide" data-slide-bg="images/home-slider-slide-1.jpg">
          <div class="swiper-slide-caption text-center">
            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col-md-11 col-lg-10 col-xl-9">
                  <div class="header-decorated" data-caption-animate="fadeInUp" data-caption-delay="0s">
                    <h3 class="medium text-primary">With Us</h3>
                  </div>
                  <h2 class="slider-header" data-caption-animate="fadeInUp" data-caption-delay="150">You Are Always One Step Ahead</h2>
                  <p class="text-bigger slider-text" data-caption-animate="fadeInUp" data-caption-delay="250">Strategies of our attorneys will help you solve very complex legal issues.</p>
                  <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="400"><a class="button button-lg button-primary-outline-v2" href="#">Request a Free Consultation</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-slide-bg="images/home-slider-slide-2.jpg">
          <div class="swiper-slide-caption text-center">
            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col-md-11 col-lg-10 col-xl-9">
                  <div class="header-decorated" data-caption-animate="fadeInUp" data-caption-delay="0s">
                    <h3 class="medium text-primary">We Offer</h3>
                  </div>
                  <h2 class="slider-header" data-caption-animate="fadeInUp" data-caption-delay="150">Affordable and Effective Legal Help</h2>
                  <p class="text-bigger slider-text" data-caption-animate="fadeInUp" data-caption-delay="250">Our expert team of attorneys and consultants will be glad to provide necessary legal assistance.</p>
                  <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="400"><a class="button button-lg button-primary-outline-v2" href="#">Request a Free Consultation</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-slide-bg="assets/images/home-slider-slide-3.jpg">
          <div class="swiper-slide-caption text-center">
            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col-md-11 col-lg-10 col-xl-9">
                  <div class="header-decorated" data-caption-animate="fadeInUp" data-caption-delay="0s">
                    <h3 class="medium text-primary">With Our Services</h3>
                  </div>
                  <h2 class="slider-header" data-caption-animate="fadeInUp" data-caption-delay="150">You Will Get Extensive Legal Support</h2>
                  <p class="text-bigger slider-text" data-caption-animate="fadeInUp" data-caption-delay="250">We have years of experience in providing legal help in various spheres of law.</p>
                  <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="400"><a class="button button-lg button-primary-outline-v2" href="#">Request a Free Consultation</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-scrollbar d-lg-none"></div>
      <div class="swiper-nav-wrap">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </section>

  <section class="section-50 section-md-75 section-lg-100">
    <div class="container">
      <div class="row row-40">
        <div class="col-md-6 col-lg-4 height-fill">
          <article class="icon-box">
            <div class="box-top">
              <div class="box-icon"><span class="novi-icon icon icon-primary icon-lg mercury-icon-briefcase"></span></div>
              <div class="box-header">
                <h5><a href="#">Business Law</a></h5>
              </div>
            </div>
            <div class="divider bg-accent"></div>
            <div class="box-body">
              <p>Business law deals with the creation of new businesses and the issues that arise as existing.</p>
            </div>
          </article>
        </div>
        <div class="col-md-6 col-lg-4 height-fill">
          <article class="icon-box">
            <div class="box-top">
              <div class="box-icon"><span class="novi-icon icon icon-primary icon-lg mercury-icon-users"></span></div>
              <div class="box-header">
                <h5><a href="#">Family Law</a></h5>
              </div>
            </div>
            <div class="divider bg-accent"></div>
            <div class="box-body">
              <p>Family law attorneys help their clients file for separation or divorce, alimony or child custody.</p>
            </div>
          </article>
        </div>
        <div class="col-md-6 col-lg-4 height-fill">
          <article class="icon-box">
            <div class="box-top">
              <div class="box-icon"><span class="novi-icon icon icon-primary icon-lg mercury-icon-lib"></span></div>
              <div class="box-header">
                <h5><a href="#">Civil Litigation</a></h5>
              </div>
            </div>
            <div class="divider bg-accent"></div>
            <div class="box-body">
              <p>Civil litigation is the process in which civil matters are resolved in a court of law.</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-displaced-wrap">
    <div class="bg-displaced-body">
      <div class="container">
        <div class="inset-xl-left-70 inset-xl-right-70">
          <article class="box-cart bg-ebony-clay">
            <div class="box-cart-image"><img src="assets/images/home-2-342x338.jpg" alt="" width="342" height="338"/>
            </div>
            <div class="box-cart-body">
              <blockquote class="blockquote-complex blockquote-complex-inverse">
                <h3>About Us</h3>
                <p>
                  <q>When you place your case in the hands of our lawyers and paralegals, you are placing your case in the hands of professionals who are committed to achieving the best possible outcome.</q>
                </p>
                <div class="quote-footer">
                  <cite>Ryan Emberson</cite><small>CEO at LawExpert</small>
                </div>
              </blockquote>
              <div class="button-wrap inset-md-left-70"><a class="button button-responsive button-medium button-primary-outline-v2" href="#">Request a Free Consultation</a></div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="bg-displaced bg-image" style="background-image: url(assets/images/home-1.jpg);"></div>
  </section>

 <app-experts-lawers></app-experts-lawers>

  <section class="section parallax-container bg-black" data-parallax-img="images/progress-bars-parallax-1.jpg">
    <div class="parallax-content">
      <div class="section-50 section-md-90">
        <div class="container">
          <div class="row row-40">
            <div class="col-sm-6 col-md-3">
              <div class="box-counter box-counter-inverse"><span class="novi-icon icon icon-lg icon-primary mercury-icon-group"></span>
                <div class="text-large counter">1450</div>
                <p class="box-header">Happy Clients</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="box-counter box-counter-inverse"><span class="novi-icon icon icon-lg-smaller icon-primary mercury-icon-scales"></span>
                <div class="text-large counter">23</div>
                <p class="box-header">Years of Experience</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="box-counter box-counter-inverse"><span class="novi-icon icon icon-lg-smaller icon-primary mercury-icon-partners"></span>
                <div class="text-large counter counter-percent">98</div>
                <p class="box-header">Successful Cases</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="box-counter box-counter-inverse"><span class="novi-icon icon icon-lg icon-primary mercury-icon-case"></span>
                <div class="text-large counter">7500</div>
                <p class="box-header">Personal Injury Cases</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <app-testimonials></app-testimonials>

  <section class="bg-whisper">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-9 col-xl-7">
          <div class="section-50 section-md-75 section-xl-100">
            <h3>Free Consultation</h3>
            <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
              <div class="row row-30">
                <div class="col-md-6">
                  <div class="form-wrap">
                    <input class="form-input" id="request-form-name" type="text" name="name" data-constraints="@Required">
                    <label class="form-label" for="request-form-name">Name</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-wrap">
                    <input class="form-input" id="request-form-phone" type="text" name="phone" data-constraints="@Numeric @Required">
                    <label class="form-label" for="request-form-phone">Phone</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-wrap">
                    <input class="form-input" id="request-form-email" type="email" name="email" data-constraints="@Email @Required">
                    <label class="form-label" for="request-form-email">Email</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-wrap form-wrap-outside">
                    <!--Select 2-->
                    <select class="form-input select-filter" id="request-form-select" data-minimum-results-for-search="Infinity">
                      <option>Family Law</option>
                      <option value="Family Law">Family Law</option>
                      <option value="Business Law">Business Law</option>
                      <option value="Civil Litigation">Civil Litigation</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-wrap">
                    <textarea class="form-input" id="feedback-2-message" name="message" data-constraints="@Required"></textarea>
                    <label class="form-label" for="feedback-2-message">Message</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-md-6">
                      <button class="button button-block button-primary" type="submit">Request a Free Consultation</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xl-5 d-none d-xl-block">
          <div style="margin-top: -40px;"><img src="assets/images/home-4-472x753.png" alt="" width="472" height="753"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-lates-news></app-lates-news>
<a class="section section-banner" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" style="background-image: url(assets/images/banner/background-03-1920x310.jpg); background-image: -webkit-image-set( url(assets/images/banner/background-03-1920x310.jpg) 1x, url(assets/images/banner/background-03-3840x620.jpg) 2x )"><img src="assets/images/banner/foreground-03-1600x310.png" srcset="assets/images/banner/foreground-03-1600x310.png 1x, assets/images/banner/foreground-03-3200x620.png 2x" alt="" width="1600" height="310"></a>
 
